header {
    width: 100vw;
    height: 8rem;
}

.Header1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #126e51;
    height: 55%;
}

.Header1 span {
    padding: 0.5rem;
    cursor: pointer;
    color: #e4e4e4;
    border-radius: 8px;
}

.Header1 span:hover {
    background: #24a57c;
    transition: all 0.5s 0s ease;
}


.Header1 img{
    width: 26rem;
}

.subHeader{
    margin-top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #383838;
    height: 45%;
}

.subHeader li {
    cursor: pointer;
    padding: 0.5rem;
    color: #e4e4e4;
    border-radius: 8px;
}

.subHeader li:hover {
    background: #605d5d;
    transition: all 0.5s 0s ease;
}
.Content {
    background-color: #e4e4e4;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.Content .cardPalpite {
    background-color: white;
    width: 75%;
    height: 100%;
} 
.Content .cardInfo {
    background-color: white;
    width: 23%;
    height: 100%;
} 
.headerPalpite {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 2%;
    height: 10%;
    border-bottom: solid 1px rgb(231, 226, 226);
}
.svgPalpite {
    height: 30%;
    padding: 10px;
}
.bodyPalpite {
    height: 100%;
    padding-left: 2%;
}
.ulPalpite {
    /* margin-top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    /* background: #383838; */
    /* height: 45%;  */
}
.liPalpite {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}
.inputPalpite {
    border: 1px solid  rgb(231, 226, 226);
    width: 3rem;
    height: 3rem;
    background-color: #e4e4e4; 
}